apiVersion: apps/v1
kind: Deployment
metadata:
  name: matrix
  labels:
    {{- include "element.labels" . | nindent 4 }}
    component: matrix
spec:
  selector:
    matchLabels:
      {{- include "element.selectorLabels" . | nindent 6 }}
      component: matrix
  template:
    metadata:
      {{- with .Values.matrix.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "element.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        component: matrix
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "element.serviceAccountName" . }}
      {{- with .Values.matrix.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      containers:
        - name: matrix
          {{- with .Values.matrix.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.matrix.image.repository }}:{{ .Values.matrix.image.tag }}"
          imagePullPolicy: {{ .Values.matrix.image.pullPolicy }}
          env:
            - name: DATABASE
              value: postgresql
            - name: DB_NAME
              value: "{{ .Values.db.name }}"
            - name: DB_PASSWORD
              value: "{{ .Values.db.pass }}"
            - name: DB_USER
              value: "{{ .Values.db.user }}"
            - name: EMAIL_FROM
              value: "{{ .Values.matrix.emailFromName }} <{{ .Values.matrix.emailFromAddress }}>"
            - name: MXISD_AS_TOKEN
              value: "{{ .Values.synapseMxisd_AStoken }}"
            - name: MXISD_TOKEN
              value: "{{ .Values.synapseMxisd_HStoken }}"
            - name: POSTGRES_HOST
              value: db
            - name: PUBLIC_BASE_URL
              value: "https://{{ .Values.matrix.serverName }}/"
            - name: REGISTRATION_ENABLED
              value: "no"
            - name: REPORT_STATS
              value: "no"
            - name: RIOT_BASE_URL
              value: "https://{{ .Values.element.serverName }}"
            - name: SERVER_NAME
              value: "{{ .Values.matrix.serverName }}"
            - name: SMTP_HOST
              value: postfix
            - name: SMTP_PORT
              value: "25"
            - name: TURN_SERVER_NAME
              value: "{{ .Values.turnRealm }}"
            - name: turnkey
              value: "{{ .Values.turnkey }}"

          ports:
            - name: http
              containerPort: 8008
              protocol: TCP

          {{- with .Values.matrix.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.matrix.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.matrix.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .Values.matrix.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /data
              name: synapse-volume

      {{- with .Values.matrix.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.matrix.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.matrix.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
      - name: synapse-volume
        persistentVolumeClaim:
          claimName: synapse-volume
