image:
  repository: eeacms/clms-backend
  pullPolicy: Always
  tag: ""

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

timezone: Europe/Copenhagen

ploneAuthToken: ""

links:
  database: plone-postgres.namespace
  memcached: plone-postgres-memcached.namespace

ingress:
  annotations:
    cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
  certificate: key-01dev-letsencrypt
  tls: true

plone:
  serviceType: ClusterIP
  hostname: dev-land.copernicus.01dev.eea.europa.eu
  site: clms
  googleUrl: google85dc6cec8f1329e5.html
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 6
    # targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 60
  replicaCount: 1
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  database:
    POSTGRES_DB: database
    POSTGRES_USER: databaseuser
    POSTGRES_PASSWORD: databasepassword
  environment:
    GRAYLOG: "logcentral.eea.europa.eu:12201"
    SENTRY_DSN: ""
    SENTRY_ENVIRONMENT: "01dev"
    CORS_ALLOW_ORIGIN: ""
    DEFAULT_PUBLISHER: ""
    DEFAULT_ORGANISATIONS: ""
    STATIC_BANNER_ENABLED_clms: ""
    DYNAMIC_BANNER_ENABLED: ""
    PLONE_REGISTRY_YAML_CONTENT: ""
    CDSE_MONITOR_URL: ""
    CDSE_MONITOR_VIEW_TOKEN: ""
    CDSE_USAGE_URL: ""
    CDSE_USAGE_VIEW_TOKEN: ""
    CDSE_USAGE_LIMITS_EMAIL_TO: ""
    CRON_JOBS: ""
  annotations: {}
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 20
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 15
    timeoutSeconds: 10
    initialDelaySeconds: 60
    failureThreshold: 4
    successThreshold: 2

varnish:
  serviceType: ClusterIP
  serviceName: backend-varnish
  backend: "backend-plone"
  port: 8080
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  environment:
    VARNISH_SIZE: 2G
    VARNISH_DNS_TTL: "20s"
    VARNISH_BERESP_TTL: "60s"
    VARNISH_BERESP_GRACE: "120s"
    VARNISH_BERESP_KEEP: "120s"
    VARNISH_GZIP_ENABLED: "false"
    VARNISH_GZIP_JSON_ENABLED: "false"
    AUTOKILL_CRON: ""
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 10
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 5
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1

debug:
  serviceType: ClusterIP
  serviceName: backend-debug
  port: 8080
  enabled: true
  resources:
    limits:
      memory: 4Gi
    requests:
      memory: 1Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  environment: {}

entrasync:
  enabled: false
  schedule: "0 0 3 * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 1Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}

zodbpack:
  enabled: false
  schedule: "0 0 3 * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 1Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}

redis:
  enabled: false
  serviceType: ClusterIP
  image:
    repository: redis
    tag: "7.4.7"
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 128Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

asyncjobs:
  enabled: false
  serviceType: ClusterIP
  image:
    repository: eeacms/clms-async-jobs
    tag: "1.0.1"
  resources:
    limits:
      memory: 512Mi
    requests:
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

postgresDownloadtool:
  enabled: false
  serviceType: ClusterIP
  image:
    repository: eeacms/postgres
    tag: "16s"
  postgresUser: postgres
  postgresPassword: postgres
  dbName: downloadtool
  dbUser: zope
  dbPassword: zope
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 512Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

cdsemonitor:
  enabled: false
  schedule: "0 * * * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  image:
    repository: curlimages/curl
    tag: "8.8.0"
  resources:
    limits:
      memory: 64Mi
    requests:
      memory: 32Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

cdseusage:
  enabled: false
  schedule: "30 8 * * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  image:
    repository: curlimages/curl
    tag: "8.8.0"
  resources:
    limits:
      memory: 64Mi
    requests:
      memory: 32Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}

postfix:
  fullnameOverride: ""
  dryrun: false
  serverName: dev-land.copernicus.01dev.eea.europa.eu
  mtpPass: ""
  mtpPort: ""
  mtpRelay: ""
  mtpUser: ""
  serviceName: "postfix"
  mailtrap:
    httpenabled: false
    serviceType: NodePort
    ingress:
      enabled: false
      hostname: mailtrap.01dev.eea.europa.eu
      annotations:
        cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
      certificate: mailtrap.01dev.eea.europa.eu-tls
