apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: clms
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: clms-frontend
  annotations:
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if .Values.ingress.serverSnippet }}
    nginx.ingress.kubernetes.io/server-snippet: |
      {{- .Values.ingress.serverSnippet | nindent 6 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.volto.hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.varnish.serviceName }}
            port:
              number: {{ .Values.varnish.port }}
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.volto.hostname }}
    {{- if .Values.ingress.certificate }}
    secretName: {{ .Values.ingress.certificate }}
    {{- end  }}
  {{- end  }}
