apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: freshwater-resource
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: freshwater-resource
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/(\+\+resource\+\+.*)$ /VirtualHostBase/https/{{ .Values.plone.hostname }}:443/{{ .Values.plone.site }}/VirtualHostRoot/$1 break;
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 100m
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.plone.hostname }}
    http:
      paths:
      - path: /\+\+resource\+\+(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ .Values.varnish.serviceName }}
            port:
              number: {{ .Values.varnish.port }}
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.plone.hostname }}
    {{- if .Values.ingress.certificate }}
    secretName: {{ .Values.ingress.certificate }}
    {{- end  }}
  {{- end  }}
