apiVersion: apps/v1
kind: Deployment
metadata:
  name: plone
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: plone

spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "appl.selectorLabels" . | nindent 6 }}
      component: plone
  template:
    metadata:
      labels:
        {{- include "appl.selectorLabels" . | nindent 8 }}
        component: plone
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "appl.serviceAccountName" . }}

      containers:
      - name: plone
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        {{- with .Values.command }}
        command:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.args }}
        args:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        env:
        - name: GRAYLOG_FACILITY
          value: {{ .Values.proxyBaseUrl }}
        - name: TZ
          value: {{ .Values.timezone }}
        - name: WARMUP_HEALTH_THRESHOLD
          value: "10"
        - name: ZOPE_MODE
          value: zeo_client
        - name: COLLECTIVE_EXPORTIMPORT_CENTRAL_DIRECTORY
          value: "/data/exportimport"

        ports:
        - containerPort: 8080
          name: plone8080

        # Wait for up to 600 seconds
        startupProbe:
          httpGet:
            path: {{ .Values.plone.probePath }}
            port: plone8080
          failureThreshold: 60
          periodSeconds: 10
          timeoutSeconds: {{ .Values.plone.probeTimeoutSeconds }}

        livenessProbe:
          httpGet:
            path: {{ .Values.plone.probePath }}
            port: plone8080
          periodSeconds: 15
          timeoutSeconds: {{ .Values.plone.probeTimeoutSeconds }}

        resources:
          {{- toYaml .Values.plone.resources | nindent 10 }}

        volumeMounts:
        - mountPath: /data/downloads
          name: emrt-esd-downloads
        - mountPath: /data/exportimport
          name: emrt-esd-exportimport

        securityContext:
          {{- toYaml .Values.plone.securityContext | nindent 10 }}

      restartPolicy: Always

      volumes:
      - name: emrt-esd-downloads
        persistentVolumeClaim:
          claimName: emrt-esd-downloads
      - name: emrt-esd-exportimport
        persistentVolumeClaim:
          claimName: emrt-esd-exportimport

