
replicaCount: 2

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  # targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80


image:
  repository: eeacms/plone-emrt
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

proxyBaseUrl: emrt-esd.eionet.europa.eu
smtpHost: postfix
smtpPort: '25'
timezone: Europe/Copenhagen

edwLoggerPublisher: 'false'
edwLoggerUserID: 'true'
graylog: ''
tableauToken: ''
tableauTokenSnapshot: ''

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}

nodeSelector: {}
tolerations: []
affinity: {}

service:
  type: ClusterIP
  port: 6081

ingress:
  enabled: false
  serviceName: plone
  servicePort: 8080
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-max-temp-file-size: '1024m'
    nginx.ingress.kubernetes.io/proxy-body-size: '50m'
    nginx.ingress.kubernetes.io/use-regex: 'true'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '300'
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/(.*)$ /VirtualHostBase/https/emrt-esd.eionet.europa.eu:443/Plone/VirtualHostRoot/$1 break;
  hosts:
    - host: emrt-esd.eionet.europa.eu
      paths:
        - path: /(.*)
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - emrt-esd.eionet.europa.eu

ingress6:
  name: emrt-esd-p6
  serviceName: plone6
  servicePort: 8080
  enabled: false
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-max-temp-file-size: '1024m'
    nginx.ingress.kubernetes.io/use-regex: 'true'
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/(.*)$ /VirtualHostBase/https/emrt-esd-p6.eionet.europa.eu:443/Plone/VirtualHostRoot/$1 break;
# Uncomment when migration is complete, to redirect to main name.
#      rewrite ^(.*)$ https://emrt-esd.eionet.europa.eu$1 permanent;
  hosts:
    - host: emrt-esd-p6.eionet.europa.eu
      paths:
        - path: /(.*)
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - emrt-esd-p6.eionet.europa.eu

memcached:
  replicas: 1
  fullnameOverride: "memcached"
  image:
    repository: memcached
    tag: "1.5.2"
  resources:
    requests:
      memory: 2Gi
    limits:
      memory: 2Gi

# Mail transport
postfix:
  fullnameOverride: "postfix"
  serverName: emrt-esd.eionet.europa.eu
  mtpPass: ''
  mtpPort: ''
  mtpRelay: ''
  mtpUser: ''

plone:
  securityContext: {}
  resources:
    requests:
      memory: 1536Mi
    limits:
      memory: 4Gi
  probePath: /Plone/2023/
  probeTimeoutSeconds: 3

plone6:
  image: "plone/plone-backend:6.1.1"
  securityContext: {}
  environment:
    ZOPE_FORM_MEMORY_LIMIT: 50MB
  resources:
    requests:
      memory: 1536Mi
    limits:
      memory: 4Gi
  probePath: /
  probeTimeoutSeconds: 3


plone6develop: "git+https://github.com/eea/esdrt.content.git@python3#egg=esdrt.content git+https://github.com/BHUVAN-RJ/collective.deletepermission@python3#egg=collective.deletepermission git+https://github.com/eea/esdrt.theme.git@python3#egg=esdrt.theme"

varnish:
  securityContext: {}
  backendHost: plone
  backendPort: 8080
  connectTimeout: 300s
  firstByteTimeout: 300s
  betweenBytesTimeout: 300s
  size: 1G
  image:
    repository: varnish
    tag: stable
  resources:
    requests:
      memory: 1Gi

cron:
  enabled: false
  securityContext: {}
  resources: {}

zeo6:
  storage: 30Gi
  resources:
    requests:
      memory: 1Gi


zeoserver:
  fullnameOverride: "zeoserver"
  storage: 30Gi
  resources:
    requests:
      memory: 1Gi

