apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ied
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: ied-frontend
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.volto.hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.varnish.serviceName }}
            port:
              number: {{ .Values.varnish.port }}
  {{- if .Values.ingress.certificate }}
  tls:
  - hosts:
    - {{ .Values.volto.hostname }}
    secretName: {{ .Values.ingress.certificate }}
  {{- end  }}
