---
timezone: Europe/Copenhagen

pvc:
  resourcePolicyKeep: false

jobs:
  ttlSecondsAfterFinished: 86400


image:
  repository: eeacms/matomo
  pullPolicy: Always
  tag: ""


mariadb:
  image: mariadb:10.11.11
  user: eea_matomo
  resources:
    requests:
      memory: 10Gi
    limits:
      memory: 10Gi
  environment:
    MARIADB_USER: eea_matomo
    MARIADB_DATABASE: eea_matomo_db
    MARIADB_PASSWORD: password
    MARIADB_ROOT_PASSWORD: password
    MYSQL_ALLOW_EMPTY_PASSWORD: "no"  
  storage: 400Gi
  storageClassName: nfs-rancher
  exposeCheckMK: false
  exposeCheckMKIP: 10.50.7.xx
  livenessProbe:
    tcpSocket:
      port: 3306
    periodSeconds: 10
    timeoutSeconds: 3
  startupProbe:
    tcpSocket:
      port: 3306
    failureThreshold: 10
    periodSeconds: 5
    initialDelaySeconds: 5
    timeoutSeconds: 2


matomo:
  hostname: "dev-matomo.01dev.eea.europa.eu"
  environment:
    PHP_MEMORY_LIMIT: 4096M
    PHP_MAX_EXECUTION_TIME: '"0"'
    PHP_MAX_INPUT_TIME: '"0"'
    APACHE_HTTP_PORT_NUMBER: "9080"
  resources:
    requests:
      memory: 2Gi
    limits:
      memory: 5Gi
  storageClassName: ""
  storage: "10Gi"
  username: ""
  password: ""
  startupProbe:
    tcpSocket:
      port: 80
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 20
    successThreshold: 1
  livenessProbe:
    httpGet:
      path: /matomo.php
      port: 80
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    failureThreshold: 9
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /matomo.php
      port: 80
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    failureThreshold: 5
    successThreshold: 1


matomocronArchive:
  - environment:
      PHP_MEMORY_LIMIT: 6144M
      PHP_MAX_EXECUTION_TIME: 0
      PHP_MAX_INPUT_TIME: 0
      IDSITE: '17'
      EXCLUDEIDSITE: ''
      CONCURRENT_ARCHIVERS: 8
      CONCURRENT_REQS_PER_WEBSITE: 8
    cronSchedule: "5 * * * *"
    resources:
      requests:
        memory: 6Gi
      limits:
        memory: 6Gi
  - environment:
      PHP_MEMORY_LIMIT: 8000M
      PHP_MAX_EXECUTION_TIME: 0
      PHP_MAX_INPUT_TIME: 0
      IDSITE: ''
      EXCLUDEIDSITE: '17'
      CONCURRENT_ARCHIVERS: 8
      CONCURRENT_REQS_PER_WEBSITE: 6
    cronSchedule: "30 * * * *"
    resources:
      requests:
        memory: 8Gi
      limits:
        memory: 8Gi



matomocronLdapSync:
  cronSchedule: "10 1 * * *"
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 256Mi
  environment:
    AZURE_TENANT_ID: REPLACEME
    AZURE_CLIENT_ID: REPLACEME
    AZURE_VIEW_GROUP: REPLACEME
    AZURE_CLIENT_SECRET: REPLACEME
    ADMIN_EMAIL: REPLACEME

matomocronDeleteData:
  enabled: false
  environment:
    PHP_MEMORY_LIMIT: 512M
    siteToDelete: "22"
    daysToKeep: 90
  cronSchedule: "0 23 * * *"
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 512Mi

geoipupdate:
  image: maxmindinc/geoipupdate:v7.1
  environment:
    GEOIPUPDATE_EDITION_IDS: GeoLite2-City
    GEOIPUPDATE_VERBOSE: '"1"'
    GEOIPUPDATE_LICENSE_KEY: REPLACEME
    GEOIPUPDATE_ACCOUNT_ID: REPLACEME
  cronSchedule: "0 4 5 * *"
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 512Mi
  storageClassName: ""
  storage: "1Gi"
 

ingress:
  enabled: true
  className: ""
  annotations: {}
  letsencrypt: "01dev-eea-letsencrypt"
  configuration:
    proxy-body-size: "256m"
    proxy-read-timeout: "1200"
    proxy-send-timeout: "1200"
  tls: true
  certificate: "dev-matomo.01dev.eea.europa.eu-tls"


postfix:
  fullnameOverride: ""
  dryrun: false
  serverName: plone.eea.europa.eu
  mtpPass: ""
  mtpPort: ""
  mtpRelay: ""
  mtpUser: ""
  serviceName: "postfix"
  mailtrap:
    httpenabled: false
    serviceType: NodePort
    ingress:
      enabled: false
      hostname: mailtrap.01dev.eea.europa.eu
      annotations:
        cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
      certificate: mailtrap.01dev.eea.europa.eu-tls
