image:
  repository: eeacms/clms-frontend
  pullPolicy: Always
  tag: ""

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

timezone: Europe/Copenhagen

links:
  backend: backend-varnish.clms

ingress:
  annotations:
    cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
    nginx.ingress.kubernetes.io/configuration-snippet: |-
      more_set_headers 'Server HTTPS'
        'Strict-Transport-Security max-age=31536000; includeSubDomains; preload'
        "Expect-CT max-age=604800, report-uri='https://sentry.eea.europa.eu/api/45/security/?sentry_key=0343e20fc4e0469790b6016561f032e3'"
        'X-Content-Type-Options nosniff'
        'X-XSS-Protection "1; mode=block"'
        "X-Frame-Options 'SAMEORIGIN'"
        "Referrer-Policy origin"
        'Permissions-Policy accelerometer=(), autoplay=(), camera=(), encrypted-media=(), fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), sync-xhr=(self), usb=()';
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
    nginx.ingress.kubernetes.io/proxy-read-timeout: '480'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '120'
  certificate: dev-clms.copernicus.01dev.eea.europa.eu-tls
  tls: enabled

volto:
  serviceType: ClusterIP
  hostname: dev-clms.copernicus.01dev.eea.europa.eu
  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 4
    targetCPUUtilizationPercentage: 80
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  environment:
    RAZZLE_INTERNAL_API_PATH: http://backend:8080/Plone
    RAZZLE_PUBLIC_PATH: /
    RAZZLE_BACKEND_NAME: 'eea.docker.plone.clms'
    RAZZLE_SENTRY_DSN: ""
    RAZZLE_SENTRY_RELEASE: ""
    RAZZLE_SENTRY_ENVIRONMENT: 01dev
    SENTRY_URL: https://sentry.eea.europa.eu
    SENTRY_AUTH_TOKEN: ""
    SENTRY_ORG: eea
    SENTRY_PROJECT: land-copernicus-eu
    RAZZLE_MATOMO_SITE_ID: ""
    RAZZLE_DEMO_SITE: "true"
    RAZZLE_PROXY_ES_DSN_clmsSearchTechnicalLibrary: ""
    RAZZLE_PROXY_QA_DSN_clmsSearchTechnicalLibrary: ""
    DANSWER_URL: ""
    DANSWER_API_KEY: ""
    DANSWER_PASSWORD: ""
    DANSWER_USERNAME: ""
    LLMGW_TOKEN: ""
    LLMGW_URL: ""
    VOLTO_ROBOTSTXT: ""
    CSP_HEADER: >-
      default-src 'none';
      base-uri 'self';
      form-action 'self';
      object-src 'none';
      manifest-src 'self'
      media-src https://land.copernicus.eu/;
      connect-src 'self' https://webanalytics.europa.eu https://*.eea.europa.eu https://europa.eu https://geocode.arcgis.com https://api.openaire.eu https://api.zotero.org https://cgls.vito.be;
      font-src 'self' data: https://cdnjs.cloudflare.com https://fonts.gstatic.com https://*.eea.europa.eu;
      frame-src 'self' https://europa.eu https://*.europa.eu https://*.eea.europa.eu https://eea.maps.arcgis.com https://cgls.vito.be;
      img-src https: blob: data:;
      script-src 'self' {nonce} blob: https://webanalytics.europa.eu https://matomo.eea.europa.eu https://europa.eu https://www.google.com https://www.gstatic.com https://spreadsheets.google.com https://docs.google.com https://*.eea.europa.eu https://d3js.org https://cdnjs.cloudflare.com https://code.jquery.com https://services.arcgis.com https://public.tableau.com;
      style-src 'self' 'unsafe-inline'  https://www.google.com https://europa.eu https://fonts.googleapis.com https://ajax.googleapis.com https://www.gstatic.com https://*.eea.europa.eu https://cdnjs.cloudflare.com https://code.jquery.com;
      frame-ancestors 'self' https://*.eea.europa.eu;
      report-to csp-endpoint;
      report-uri https://sentry.eea.europa.eu/api/45/security/?sentry_key=0343e20fc4e0469790b6016561f032e3;
  annotations: {}
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 10
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 5
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 15
    timeoutSeconds: 10
    initialDelaySeconds: 60
    failureThreshold: 4
    successThreshold: 2

service:
  type: ClusterIP
  port: 3000

varnish:
  serviceType: ClusterIP
  serviceName: frontend-varnish
  port: 3000
  backend: "frontend-volto"
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  environment:
    VARNISH_SIZE: '2G'
    VARNISH_DNS_TTL: '20s'
    VARNISH_BERESP_TTL: '60s'
    VARNISH_BERESP_GRACE: '120s'
    VARNISH_BERESP_KEEP: '120s'
    VARNISH_GZIP_ENABLED: 'false'
    AUTOKILL_CRON: ''
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 10
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 5
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1

affinity: {}

debug:
  serviceType: ClusterIP
  enabled: false
  resources:
    limits:
      memory: 4Gi
    requests:
      memory: 4Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  environment: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
