{{- if .Values.gn5.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gn46
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: gn46

spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "appl.selectorLabels" . | nindent 6 }}
      component: gn46
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "appl.selectorLabels" . | nindent 8 }}
        component: gn46
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "appl.serviceAccountName" . }}
      containers:
      - name: gn46
        image: eeacms/eea-geonetwork@sha256:2283a9f2ba3075ff0984c894755754b41c4b6a0caeba1c828b8a7ab722f171c5
        env:
        - name: WEBAPP_CONTEXT_PATH
          value: {{ .Values.gn46.webapp_context }}
        - name: geonetwork_dir
          value: {{ .Values.gn46.geonetwork_dir }}
        - name: CATALOGUE
          value: {{ .Values.gn46.catalogue_name }}
        - name: JAVA_OPTIONS
          value: "-Djava.security.egd=file:/dev/./urandom -Djava.awt.headless=true -Xms512M -Xss512M -Xmx{{ .Values.gn46.jvm_max_memory }} -XX:+UseConcMarkSweepGC -Dorg.eclipse.jetty.annotations.AnnotationParser.LEVEL=OFF"
        - name: GN_CONFIG_PROPERTIES
          value: "-Dgeonetwork.security.type={{ .Values.gn46.security_type }} -Dgeonetwork.dir={{ .Values.gn46.geonetwork_dir }} -Dgeonetwork.data.dir={{ .Values.gn46.geonetwork_data_dir }} -Dgeonetwork.db.type={{ .Values.gn46.db_type }} -Dgeonetwork.schema.dir={{ .Values.gn46.schema_dir }} -Dgeonetwork.formatter.dir={{ tpl .Values.gn46.formatter_dir . }} -Dgeonetwork.indexConfig.dir={{ .Values.gn46.index_config_dir }} -Dgeonetwork.resources.dir={{ tpl .Values.gn46.resources_dir . }} -Des.host={{ .Values.gn46.es_host }} -Des.port={{ .Values.gn46.es_port }} -Des.protocol={{ .Values.gn46.es_protocol }} -Des.index.records={{ .Values.gn46.es_index_records }} -Des.url={{ tpl .Values.gn46.es_url . }} -Dgeonetwork.ESFeaturesProxy.targetUri={{ tpl .Values.gn46.es_features_proxy .}} -Dkb.url=http://kibana:5601 -Dgeonetwork.HttpDashboardProxy.targetUri={{ .Values.gn46.dashboardproxy_targeturi }}"
        # To configure the database connection parameters fill the values in /catalogue-data/config/db.properties
        # To configure the LDAP connection options fill the values in /catalogue-data/config/security.properties

        # Liveness probe checks if the application is healthy and restarts the container if it fails
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: {{ .Values.gn46.webapp_context }}/srv/eng/catalog.search
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 90
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 10
        
        # Startup probe checks if the application has started successfully before running liveness/readiness probes
        startupProbe:
          failureThreshold: 30
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 8080
          timeoutSeconds: 5

        ports:
        - containerPort: 8080
        resources:
          {{- toYaml .Values.gn46.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /catalogue-data
          name: sdi-gn5-data
        - mountPath: /var/local/gis_sdi
          name: gis-sdi
          readOnly: false
        

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Always

      volumes:
      - name: sdi-gn5-data
        persistentVolumeClaim:
          claimName: sdi-gn5-data
      - name: gis-sdi
        persistentVolumeClaim:
          claimName: gis-sdi
          readOnly: false
{{- end }}