{{- if .Values.nextcloudRedis.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud-redis
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: nextcloud-redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "appl.selectorLabels" . | nindent 6 }}
      component: nextcloud-redis
  template:
    metadata:
      labels:
        {{- include "appl.selectorLabels" . | nindent 8 }}
        component: nextcloud-redis
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "appl.serviceAccountName" . }}
      containers:
      - name: redis
        image: {{ .Values.nextcloudRedis.image }}
        env:
        - name: TZ
          value: Europe/Copenhagen
        resources:
          {{- toYaml .Values.nextcloudRedis.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /data
          name: sdi-nextcloud-redis
        ports:
        - containerPort: 6379
        livenessProbe:
          tcpSocket:
            port: 6379
          periodSeconds: 60
        startupProbe:
          tcpSocket:
            port: 6379
          failureThreshold: 6
          periodSeconds: 10
      restartPolicy: Always
      volumes:
      - name: sdi-nextcloud-redis
        persistentVolumeClaim:
          claimName: sdi-nextcloud-redis
{{- end }}
