apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "traefik.fullname" . }}-upstream
  labels:
{{ include "traefik.labels" . | indent 4 }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
{{- $host := .Values.domain }}
{{- $tlsEnabled := .Values.ingress.tls.enabled | default true }}
{{- $tlsSecret := default (printf "%s-tls" $host) .Values.ingress.tls.secretName }}
{{- if and $tlsEnabled $host }}
  tls:
    - hosts:
        - {{ $host }}
      secretName: {{ $tlsSecret }}
{{- end }}
  rules:
    - host: {{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "traefik.fullname" . }}
                port:
                  number: {{ .Values.traefik.service.port }}
