apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "traefik.fullname" . }}-dynamic
data:
  routes.yaml: |
    http:
      routers:
{{- range .Values.routes }}
        {{ .name }}:
          rule: "{{ .match }}"
          service: {{ .name }}-svc
{{- end }}

      services:
{{- range .Values.routes }}
        {{ .name }}-svc:
          loadBalancer:
            servers:
              - url: "http://{{ .service }}.{{ $.Release.Namespace }}.svc.cluster.local:{{ .port }}"
{{- end }}
