apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "traefik.fullname" . }}-dynamic
data:
  routes.yaml: |
    http:
{{- $routes := .Values.routes | default list }}
{{- if kindIs "string" $routes }}
{{- $routes = fromYaml $routes }}
{{- end }}
      routers:
{{- range $routes }}
        {{ .name }}:
          rule: "{{ .match }}"
          service: {{ .name }}-svc
{{- end }}

      services:
{{- range $routes }}
        {{ .name }}-svc:
          loadBalancer:
            servers:
              - url: "http://{{ .service }}.{{ $.Release.Namespace }}.svc.cluster.local:{{ .port }}"
{{- end }}
