apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "appl.webserverName" . }}-nginx
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: webserver
data:
  default.conf: |-
    server {
      listen 80;
      access_log /var/log/nginx/access.log main;

      root /var/local;

      location /static/protected {
         internal;
         expires -1;
      }

      location /static {
        sendfile on;
        tcp_nopush on;
        gzip on;
        gzip_types text/plain application/javascript application/x-javascript text/javascript text/xml text/css application/json application/x-json;
        expires 30d;
      }

      location /robots.txt {
         alias /var/local/static/robots.txt;
      }

      location / {
        include uwsgi_params;
        proxy_set_header X-Real_IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_set_header Host $http_host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_pass_header Set-Cookie;
        proxy_buffering off;
        proxy_read_timeout 1800;
        proxy_connect_timeout 1800;
        proxy_send_timeout 1800;
        send_timeout 1800;
        client_body_timeout 400;
        keepalive_timeout 0;
        client_max_body_size 200M;
        uwsgi_connect_timeout 1800;
        uwsgi_read_timeout 1800;
        uwsgi_send_timeout 1800;
        uwsgi_max_temp_file_size 0;
        uwsgi_ignore_client_abort on;
        uwsgi_buffering off;
        proxy_pass http://{{ include "appl.webServiceName" . }}:{{ .Values.web.service.port }};
      }
    }
