apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wise-marine
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: marine-frontend
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.volto.hostname }}
    http:
      paths:
      - path: {{ .Values.ingress.path | default "/" }}(?!/assessment-module)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ .Values.varnish.serviceName }}
            port:
              number: {{ .Values.varnish.port }}
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.volto.hostname }}
    {{- if .Values.ingress.certificate }}
    secretName: {{ .Values.ingress.certificate }}
    {{- end  }}
  {{- end  }}
