{{- if .Values.landing }}
{{- if .Values.landing.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wise-landing
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: landing
  annotations:
    cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
    nginx.ingress.kubernetes.io/configuration-snippet: |-
      more_set_headers 'Server HTTPS'
        'Strict-Transport-Security max-age=31536000; includeSubDomains; preload'
        'X-Content-Type-Options nosniff'
        'X-XSS-Protection "1; mode=block"'
        "X-Frame-Options 'SAMEORIGIN'"
        "Referrer-Policy origin";
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.volto.hostname }}
    http:
      paths:
      - path: /
        pathType: Exact
        backend:
          service:
            name: wise-landing
            port:
              number: 80
      - path: /static
        pathType: Prefix
        backend:
          service:
            name: wise-landing
            port:
              number: 80
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.volto.hostname }}
    {{- if .Values.ingress.certificate }}
    secretName: {{ .Values.ingress.certificate }}
    {{- end  }}
  {{- end  }}
{{- end }}
{{- end }}
