### Helm ###
# Chart dependencies
**/charts/*.tgz
custom-values*.yaml
values-*.yaml
values.*.yaml
openspec
.opencode
.ckb

# Local debug/backup artifacts
rendered.yaml
patches.yaml
NETWORK_POLICIES.md
test_playwright*