apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: volto-wise-freshwater-es
  labels:
    {{- include "appl.labels" . | nindent 4 }}
    component: freshwater-frontend-es
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 100m
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.volto.hostname }}
    http:
      paths:
      - path: /_es/freshwatermeasure
        pathType: Prefix
        backend:
          service:
            name: frontend-volto
            port:
              number: 3000
  {{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - {{ .Values.volto.hostname }}
    {{- if .Values.ingress.certificate }}
    secretName: {{ .Values.ingress.certificate }}
    {{- end  }}
  {{- end  }}
