image:
  repository: eeacms/freshwater-backend
  pullPolicy: Always
  tag: ""

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

timezone: Europe/Copenhagen

links:
  database: plone-postgres.namespace
  memcached: plone-postgres-memcached.namespace

ingress:
  annotations:
    cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
  certificate: plone.eea.europa.eu-tls
  tls: true

plone:
  annotations: {}
  autoscaling:
    enabled: false
    maxReplicas: 6
    minReplicas: 1
    targetMemoryUtilizationPercentage: 60
  database:
    POSTGRES_DB: wisefreshwater
    POSTGRES_PASSWORD: zope
    POSTGRES_USER: zope
  environment:
    CORS_ALLOW_ORIGIN: ''
    DANSWER_API_KEY: ''
    DEFAULT_ORGANISATIONS: ''
    DEFAULT_PUBLISHER: ''
    DYNAMIC_BANNER_ENABLED: ''
    GRAYLOG: logcentral.eea.europa.eu:12201
    LLMGW_TOKEN: ''
    LLMGW_URL: ''
    MEMCACHE_SERVER: memcached:11211
    PLONE_REGISTRY_YAML_CONTENT: ''
    RAZZLE_PROXY_ES_DSN_globalsearch: ''
    RELSTORAGE_SHARED_BLOB_DIR: 'false'
    SENTRY_DSN: ''
    SENTRY_ENVIRONMENT: 01dev
    SENTRY_SITE: ''
    SENTRY_URL: water.europa.eu/freshwater
    STATIC_BANNER_ENABLED: ''
    WARMUP_HEALTH_THRESHOLD: '10'
  googleUrl: google85dc6cec8f1329e5.html
  hostname: dev-wise.01dev.eea.europa.eu
  livenessProbe:
    failureThreshold: 6
    httpGet:
      path: /ok
      port: http
    initialDelaySeconds: 30
    periodSeconds: 20
    successThreshold: 1
    timeoutSeconds: 10
  readinessProbe:
    failureThreshold: 4
    httpGet:
      path: /ok
      port: http
    initialDelaySeconds: 60
    periodSeconds: 15
    successThreshold: 2
    timeoutSeconds: 10
  replicaCount: 1
  resources:
    limits:
      memory: 4Gi
    requests:
      memory: 4Gi
  serviceType: ClusterIP
  site: freshwater
  startupProbe:
    failureThreshold: 24
    httpGet:
      path: /ok
      port: http
    initialDelaySeconds: 30
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 10

varnish:
  serviceType: ClusterIP
  serviceName: backend-varnish
  backend: "backend-plone"
  port: 8080
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  environment:
    VARNISH_SIZE: 2G
    VARNISH_DNS_TTL: "20s"
    VARNISH_BERESP_TTL: "60s"
    VARNISH_BERESP_GRACE: "120s"
    VARNISH_BERESP_KEEP: "120s"
    VARNISH_GZIP_ENABLED: "false"
    VARNISH_GZIP_JSON_ENABLED: "false"
    AUTOKILL_CRON: ""
  livenessProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 10
    timeoutSeconds: 10
    initialDelaySeconds: 30
    failureThreshold: 5
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /ok
      port: http
    periodSeconds: 5
    timeoutSeconds: 10
    initialDelaySeconds: 10
    failureThreshold: 12
    successThreshold: 1

debug:
  serviceType: ClusterIP
  enabled: false
  resources:
    limits:
      memory: 4Gi
    requests:
      memory: 4Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  environment: {}

entrasync:
  enabled: false
  schedule: "0 0 3 * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 1Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}

zodbpack:
  enabled: false
  schedule: "0 0 3 * *"
  keepSuccessfulPods: 3
  keepFailedPods: 5
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 1Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}

postfix:
  fullnameOverride: ""
  dryrun: false
  serverName: plone.eea.europa.eu
  mtpPass: ""
  mtpPort: ""
  mtpRelay: ""
  mtpUser: ""
  serviceName: "postfix"
  mailtrap:
    httpenabled: false
    serviceType: NodePort
    ingress:
      enabled: false
      hostname: mailtrap.01dev.eea.europa.eu
      annotations:
        cert-manager.io/cluster-issuer: 01dev-eea-letsencrypt
      certificate: mailtrap.01dev.eea.europa.eu-tls
